

initial_mutation_scale: 2.

### Brain
brain:
  type: 'conditional'
  # TODO


### DNA
dna:
  mutation_scale: 0.1
  merge_mode: 'rdm_choice'  # 'mean' / 'rdm_choice'
  genes: 
    morphology: {type: 'continuous', value: 1., min: 0.00001, max: None, mutable: True, mutation_factor: 1.}
    physiology: {type: 'continuous', value: 1., min: 0.00001, max: None, mutable: True, mutation_factor: 1.}
    sensorial: {type: 'continuous', value: 1., min: 0.00001, max: None, mutable: True, mutation_factor: 1.}
    #sex: {type: 'discrete', value: 'random', domain: ['male', 'female'], weights: [1, 1], mutable: True, mutation_factor: 1.,}
  attributes:
    # physical
    size:  {min: 1, max: None, factor: 5, expr: "morphology**0.5"}
    speed: {min: 0.01, max: None, factor: 0.5, expr: "physiology**0.5 / morphology**0.5"}
    # physiological
    lifespan: {min: 1, max: None, factor: 5000, expr: "morphology**0.5 * physiology**0.75"} # changed from  morphology**0.25 * physiology**0.75
    max_energy: {min: 1, max: None, factor: 2500, expr: "morphology * physiology**0.5"}
    energy_to_mate: {min: 1, max: None, factor: 750, expr: "morphology**0.5 * physiology**0.5"}
    age_to_mate: {min: 1, max: None, factor: 1000, expr: "morphology**0.5 / physiology**0.25"}
    mating_cooldown: {min: 1, max: None, factor: 500, expr: "morphology**0.5 / physiology**0.5"}
    # sensory
    vision_range: {min: 1, max: None, factor: 64, expr: "sensorial**0.5 / morphology**0.25"}
    # energy costs
    step_cost: {min: 1, max: None, factor: 1, expr: "morphology**0.5"}
    sense_cost: {min: 1, max: None, factor: 1, expr: "sensorial**0.5 / physiology**0.5"}
    idle_cost: {min: 1, max: None, factor: 0.1, expr: "morphology**0.75 / physiology"}

    
      
