
gc_update_freq: 50
initial_genome_mutation_factor: 2
initial_brain_mutation_factor: 5

### Brain
#brain:
  #type: 'conditional'
  # TODO
### Brain
brain:
  type: 'utility'
  mutation_scale: 0.2
  n_mutations: 1 # -1 for all
  utility_scores:
    idle: {'energy': 0, 'satiety': 0, 'age': 0, 'gamma': 0, 'bias': 0}
    wander: {'energy': 0, 'satiety': 0, 'n_allies': 0, 'n_enemies': 0, 'nearest_enemy_dist': 0, 'gamma': 0, 'bias': 0}
    eat: {'nearest_food_dist': 0, 'nearest_food_energy': 0, 'energy': 0, 'satiety': 0, 'gamma': 0, 'bias': 0}
    reproduce: {'ready_to_reproduce': 0, 'age': 0, 'energy': 0, 'gamma': 0, 'bias': 0}
    follow: {'nearest_ally_dist': 0, 'n_allies': 0, 'n_enemies': 0, 'gamma': 0, 'bias': 0}
    flee: {'health': 0, 'n_allies': 0, 'n_enemies': 0, 'nearest_ally_dist': 0, 'nearest_enemy_dist': 0, 'gamma': 0, 'bias': 0}
    attack: {'energy': 0, 'health': 0, 'n_allies': 0, 'n_enemies': 0, 'nearest_ally_dist': 0, 'nearest_enemy_dist': 0, 'gamma': 0, 'bias': 0}


### Genome
genome:
  mutation_scale: 0.1
  n_mutations: 1 # -1 for all
  reproduction: 'clone' # 'mate' / 'clone'
  merge_mode: 'rdm_choice'  # 'mean' / 'rdm_choice'
  genes: 
    morphology: {type: 'continuous', value: 1., min: 0.1, max: None, mutable: True, mutation_factor: 1.}
    physiology: {type: 'continuous', value: 1., min: 0.1, max: None, mutable: True, mutation_factor: 1.}
    metabolism: {type: 'continuous', value: 1., min: 0.1, max: None, mutable: True, mutation_factor: 1.}
    sensorial: {type: 'continuous', value: 1., min: 0.1, max: None, mutable: True, mutation_factor: 1.}
    #sex: {type: 'discrete', value: 'random', domain: ['male', 'female'], weights: [1, 1], mutable: True, mutation_factor: 1.,}
  attributes:
    # physical
    size:  {min: 1, max: None, factor: 3, expr: "morphology**0.5"}
    speed: {min: 0.01, max: None, factor: 0.2, expr: "physiology**0.5 / morphology**0.25"}
    # physiological (attack & defense)
    max_health: {min: 1, max: None, factor: 10, expr: "morphology**0.75 * physiology**0.5"}
    regeneration: {min: 0, max: 0.5, factor: 0.01, expr: "metabolism**0.5 * physiology**0.5 / morphology**0.25"}
    damage: {min: 0, max: None, factor: 2, expr: "morphology**0.5 * physiology**0.5"}
    # physiological (energy & mating)
    max_age: {min: 1, max: None, factor: 10000, expr: "morphology**1 * physiology**0.5"} # changed from  morphology**0.25 * physiology**0.75
    max_energy: {min: 1, max: None, factor: 1000, expr: "morphology**1 * physiology**0.5 * metabolism **0.25"}
    energy_to_reproduce: {min: 1, max: None, factor: 400, expr: "morphology**0.6 * physiology**0.5"}
    maturity_age: {min: 1, max: None, factor: 500, expr: "morphology**0.25 * physiology**0.5"}
    reproduce_cooldown: {min: 1, max: None, factor: 500, expr: "morphology**0.5 * physiology**0.5"}
    # alimentation
    max_satiety: {min: 0, max: None, factor: 200, expr: "metabolism**0.75 * morphology**0.5"}
    satiety_gain: {min: 0, max: 1, factor: 0.5, expr: "metabolism**0.5 * morphology**0.25 - 0.8"}
    metabolism_efficiency: {min: 0, max: 1, factor: 0.6, expr: "metabolism**0.5 * physiology**0.1"}
    # TODO eating_speed
    # sensory
    vision_range: {min: 1, max: None, factor: 75, expr: "sensorial**0.5 * morphology**0.25"}
    # energy costs
    step_cost: {min: 0.0001, max: None, factor: 0.1, expr: "morphology**0.5 * physiology * metabolism**0.75"}
    sense_cost: {min: 0.0001, max: None, factor: 0.1, expr: "sensorial * physiology**0.5"}
    idle_cost: {min: 0.0001, max: None, factor: 0.01, expr: "morphology**0.75 * physiology**0.5 * metabolism"}

    
      
