

initial_mutation_scale: 1

### Brain
brain:
  type: 'conditional'
  # TODO


### DNA
dna:
  mutation_scale: 0.1
  reproduction: 'clone' # 'mate' / 'clone'
  merge_mode: 'rdm_choice'  # 'mean' / 'rdm_choice'
  genes: 
    morphology: {type: 'continuous', value: 1., min: 0.1, max: None, mutable: True, mutation_factor: 1.}
    physiology: {type: 'continuous', value: 1., min: 0.1, max: None, mutable: True, mutation_factor: 1.}
    metabolism: {type: 'continuous', value: 1., min: 0.1, max: None, mutable: True, mutation_factor: 1.}
    sensorial: {type: 'continuous', value: 1., min: 0.1, max: None, mutable: True, mutation_factor: 1.}
    hostilness: {type: 'continuous', value: 1., min: 0.1, max: None, mutable: True, mutation_factor: 1.}
    #sex: {type: 'discrete', value: 'random', domain: ['male', 'female'], weights: [1, 1], mutable: True, mutation_factor: 1.,}
  attributes:
    # physical
    size:  {min: 1, max: None, factor: 3, expr: "morphology**0.5"}
    speed: {min: 0.01, max: None, factor: 0.2, expr: "physiology**0.5 / morphology**0.25"}
    # behavioral
    aggressive: {min: 0, max: 1, factor: 0.05, expr: "hostilness**2"}
    social: {min: 0, max: 1, factor: 0.05, expr: "1 / hostilness**2"} # TODO
    partner_dna_distance: {min: 1, max: None, factor: 2.5, expr: "1 / (hostilness**0.5)"}
    # physiological (attack & defense)
    max_health: {min: 1, max: None, factor: 10, expr: "morphology * physiology**0.5"}
    regeneration: {min: 0, max: 0.5, factor: 0.01, expr: "metabolism**0.5 * physiology**0.5 / morphology**0.25"}
    damage: {min: 0, max: None, factor: 2, expr: "morphology**0.5 * physiology**0.5"}
    # physiological (energy & mating)
    lifespan: {min: 1, max: None, factor: 3000, expr: "morphology**0.75 * physiology**0.5"} # changed from  morphology**0.25 * physiology**0.75
    max_energy: {min: 1, max: None, factor: 1000, expr: "morphology * physiology**0.5 * metabolism **0.5"}
    energy_to_reproduce: {min: 1, max: None, factor: 500, expr: "morphology**0.6 * physiology**0.5"}
    maturity_age: {min: 1, max: None, factor: 500, expr: "morphology**0.25 * physiology**0.5"}
    reproduce_cooldown: {min: 1, max: None, factor: 500, expr: "morphology**0.5 * physiology**0.5"}
    # alimentation
    max_satiety: {min: 0, max: None, factor: 200, expr: "metabolism**0.75 * morphology**0.5"}
    satiety_gain: {min: 0, max: 1, factor: 0.5, expr: "metabolism**0.5 * morphology**0.25 - 0.8"}
    metabolism_efficiency: {min: 0, max: 1, factor: 0.6, expr: "metabolism**0.4 * physiology**0.1"}
    # TODO eating_speed
    # sensory
    vision_range: {min: 1, max: None, factor: 75, expr: "sensorial**0.5 * morphology**0.25"}
    # energy costs
    step_cost: {min: 0.0001, max: None, factor: 0.1, expr: "morphology**0.5 * physiology * metabolism**0.75"}
    sense_cost: {min: 0.0001, max: None, factor: 0.1, expr: "sensorial * physiology**0.5"}
    idle_cost: {min: 0.0001, max: None, factor: 0.01, expr: "morphology**0.75 * hostilness**0.25 * physiology**0.5 * metabolism"}

    
      
